databricks-pipeline/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "databricks-pipeline"
		},
		"daily-ingestion-link_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'daily-ingestion-link'"
		},
		"daily-ingestion-link_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0310-164210-nn5xdmrv"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/daily-ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "bronze-layer-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/marcelobmedeiros@outlook.com/projeto-datamaster/daily/bronze_layer_ingestion"
						},
						"linkedServiceName": {
							"referenceName": "daily-ingestion-link",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "silver-layer-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "bronze-layer-ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/marcelobmedeiros@outlook.com/projeto-datamaster/daily/silver_layer_ingestion"
						},
						"linkedServiceName": {
							"referenceName": "daily-ingestion-link",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gold-layer-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "silver-layer-ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/marcelobmedeiros@outlook.com/projeto-datamaster/daily/gold_layer_ingestion"
						},
						"linkedServiceName": {
							"referenceName": "daily-ingestion-link",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/daily-ingestion-link')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/daily-ingestion-link')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7904308049823087.7.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('daily-ingestion-link_accessToken')]"
					},
					"existingClusterId": "[parameters('daily-ingestion-link_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/daily-pipeline')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "daily-ingestion",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-03-10T21:24:00",
						"timeZone": "E. South America Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								19
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/daily-ingestion')]"
			]
		}
	]
}